
.body{
    max-width: 1000px;
    margin: 150px auto;
    display: flex;
    
}

.body h3{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgb(184, 106, 34);
    
}

.body h2{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
    
}



div.body div.image img{
    max-width: 600px;

}